*.txt
*.src
*.sh
*.pl
*.TXT
*.css
*.inc
*.ini
*.htm
*.html
*.php
*.bak
*.old
*.xml
*.sql
*.js
*.htc
*.mov
*.avi
*.mp3
*.mp4
*.zip
*.rar
*.mpg
*.exe
*.xls
*.tar
*.doc
*.ppt
*.HTM~
fantasyorg/
hobbittoday/
swords/
99_NOGO/
src/